.box{
    background-color: rgb(56, 142, 255);
    padding: 10px 10px 50px;
    max-width: 450px;
    display: flex;
    flex-wrap:wrap
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12{
    background-color: rgb(174, 174, 174);
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 2px gray solid;
}
