body{
    display: flex;
    justify-content: center;
}
.container2{    
    display: flex;
    background-color: rgb(0, 149, 208);

    border: 1px blue solid;
    justify-content: space-around;
    align-items: center;
}
.container2>*{
    color: white;
    padding: 33px 75px;
}