body{
    display: flex;
    justify-content: center;
}
.container2{    
    display: flex;
    background-color: rgb(0, 149, 208);
    height: 100px;
    width: 800px;
    border: 1px blue solid;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.container2>*{
    color: white;
    border: 1px blue solid;
    width: 90px;
    flex-wrap: wrap;
    text-align: center;
}